@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,900;1,700&display=swap");
/**
*
* Testing
*
**/
*,
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Nunito', sans-serif;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.body {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.show-menu {
  background-color: #f6b52e;
  overflow: hidden;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  position: fixed;
}

.body-style {
  -webkit-transform: translateX(27%) translateY(-12%) scale(0.47);
          transform: translateX(27%) translateY(-12%) scale(0.47);
  overflow: hidden;
  background-color: #fff;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  position: fixed;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.close-btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 3%;
  left: 2%;
  cursor: pointer;
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
}

.close-btn .bar {
  display: block;
  border: 3px solid #000;
  border-radius: 60px;
  background-color: #000;
  width: 35px;
  margin: 0.2rem 0;
}

.close-btn .bar1 {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.close-btn .bar2 {
  -webkit-transform: rotateZ(-45deg) translateY(-9px) translateX(8px);
          transform: rotateZ(-45deg) translateY(-9px) translateX(8px);
}

.close-btn .bar3 {
  display: none;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.mobile-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 7%;
  left: 1%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.mobile-menu .mobile-menu-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  margin: 2rem 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.mobile-menu .mobile-menu-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mobile-menu .mobile-menu-item a {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

main {
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: rgba(0, 0, 0, 0.979);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.397);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.397);
  padding: 0.8rem 0;
}

.navigation .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navigation .logo p {
  color: #f6b52e;
  font-style: italic;
  font-size: 25px;
  -webkit-animation: blink 3s 2s infinite normal;
          animation: blink 3s 2s infinite normal;
}

@media (max-width: 359px) {
  .navigation .logo p {
    font-size: 20px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .navigation .logo p {
    font-size: 22px;
  }
}

.navigation .menu-btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 3%;
  left: 2%;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 1rem;
}

.navigation .menu-btn:hover .bar1 {
  -webkit-transform: rotateZ(38deg) translateX(16px) translateY(-5px);
          transform: rotateZ(38deg) translateX(16px) translateY(-5px);
  width: 20px;
}

.navigation .menu-btn:hover .bar3 {
  -webkit-transform: rotateZ(-39deg) translateX(15px) translateY(5px);
          transform: rotateZ(-39deg) translateX(15px) translateY(5px);
  width: 20px;
}

@media (max-width: 359px) {
  .navigation .menu-btn {
    display: block;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .navigation .menu-btn {
    display: block;
  }
}

.navigation .menu-btn .bar {
  display: block;
  border: 2.5px solid #fff;
  border-radius: 60px;
  background-color: #fff;
  width: 35px;
  margin: 0.4rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes blink {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 1px 1px 10px #ffc654;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes blink {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 1px 1px 10px #ffc654;
  }
  100% {
    text-shadow: none;
  }
}

.desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0 0.5rem;
}

@media (max-width: 359px) {
  .desktop-menu {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .desktop-menu {
    display: none;
  }
}

.desktop-menu .desktop-menu-item {
  margin: 0 1.8rem;
}

.desktop-menu .desktop-menu-item::after {
  display: block;
  content: "";
  height: 2px;
  background-color: #f6b52e;
  width: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.desktop-menu .desktop-menu-item:hover::after {
  width: 100%;
}

.desktop-menu .desktop-menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 0.3rem 0.2rem;
  margin: 0 0.2rem;
  cursor: pointer;
}

.hero {
  padding: 5rem 3rem;
}

.hero .hero-text {
  font-size: 28px;
  text-align: center;
}

@media (max-width: 359px) {
  .hero .hero-text {
    font-size: 20px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .hero .hero-text {
    font-size: 22px;
  }
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.homepage .homepage-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-bottom: 3px solid #f6b52e;
  font-size: 28px;
  color: #f6b52e;
  text-shadow: -3px -1px 0 #000;
}

.new-stuff-list {
  margin: 1rem 0;
}

.new-stuff-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.new-stuff-list .new-stuff {
  width: auto;
  max-width: 800px;
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 1.3px solid #ffc654;
}

.new-stuff-list .new-stuff-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.new-stuff-list .new-stuff-details .title {
  font-size: 22px;
}

@media (max-width: 359px) {
  .new-stuff-list .new-stuff-details .title {
    font-size: 18px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .new-stuff-list .new-stuff-details .title {
    font-size: 20px;
  }
}

.new-stuff-list .new-stuff-details .description {
  width: 100%;
  margin: 0.8rem;
  font-size: 18px;
}

@media (max-width: 359px) {
  .new-stuff-list .new-stuff-details .description {
    font-size: 15px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .new-stuff-list .new-stuff-details .description {
    font-size: 17px;
  }
}

.new-stuff-list .new-stuff-details a {
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  margin: 0 0.7rem;
  color: #f6b52e;
  background-color: #000;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  padding: 0.2rem;
  width: 100%;
  max-width: 132px;
}

@media (max-width: 359px) {
  .new-stuff-list .new-stuff-details a {
    font-size: 15px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .new-stuff-list .new-stuff-details a {
    font-size: 16px;
  }
}

.new-stuff-list .new-stuff-details a:hover {
  color: #000;
  background-color: #f6b52e;
}

.playlists_page {
  padding: 2rem 1rem;
}

@media (max-width: 359px) {
  .playlists_page {
    padding: 2rem 0.4rem;
  }
}

@media (min-width: 361px) and (max-width: 549px) {
  .playlists_page {
    padding: 2rem 0.6rem;
  }
}

.playlists_page .playlists_page-title {
  width: 100%;
  max-width: 300px;
  font-size: 40px;
  color: #f6b52e;
  text-shadow: -4px -3px 0 #000;
}

@media (max-width: 359px) {
  .playlists_page .playlists_page-title {
    font-size: 26px;
  }
}

@media (min-width: 361px) and (max-width: 549px) {
  .playlists_page .playlists_page-title {
    font-size: 35px;
  }
}

.apple-music-playlists,
.spotify-music-playlists {
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

.apple-music-playlists ul,
.spotify-music-playlists ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1.5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1.5fr));
  list-style: none;
}

@media (max-width: 359px) {
  .apple-music-playlists ul,
  .spotify-music-playlists ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 361px) and (max-width: 549px) {
  .apple-music-playlists ul,
  .spotify-music-playlists ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.apple-music,
.spotify-music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.apple-music span,
.spotify-music span {
  padding: 0.2rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.playlist-icon {
  width: 100%;
  height: auto;
  max-width: 38px;
  padding: 0 0.2rem;
  margin: 0 0.2rem;
}

.playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 1rem;
  margin: 1rem;
}

@media (max-width: 359px) {
  .playlist {
    padding: 1rem 0.3rem;
    margin: 0.3rem;
  }
}

@media (min-width: 361px) and (max-width: 549px) {
  .playlist {
    padding: 1rem 0.7rem;
    margin: 0.5rem;
  }
}

.playlist .play-btn img {
  max-width: 50px;
}

@media (max-width: 359px) {
  .playlist .play-btn img {
    max-width: 40px;
  }
}

.playlist .playlist-details {
  padding: 0 0.4rem;
  margin: auto 0.2rem;
}

@media (max-width: 359px) {
  .playlist .playlist-details .playlist-name {
    font-size: 17px;
  }
}

.apple-music-playlists .playist-owner a {
  color: #ffb011;
}

.spotify-music-playlists .playist-owner a {
  color: #1DB954;
}

.team_page {
  padding: 1rem;
}

.team_page .team_page-title {
  font-size: 40px;
  color: #f6b52e;
  text-shadow: -4px -3px 0 #000;
  margin: 2rem 1rem;
}

@media (max-width: 359px) {
  .team_page .team_page-title {
    font-size: 25px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .team_page .team_page-title {
    font-size: 30px;
  }
}

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1.5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1.5fr));
  grid-gap: 2rem;
  margin: 2rem 0;
}

@media (max-width: 359px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 361px) and (max-width: 549px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team .team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1.5rem;
}

@media (max-width: 359px) {
  .team .team-member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0.2rem;
  }
}

@media (min-width: 361px) and (max-width: 549px) {
  .team .team-member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
  }
}

.team .member-icon {
  padding: 0.5rem;
}

.team .member-icon img {
  max-width: 130px;
}

@media (max-width: 359px) {
  .team .member-icon img {
    max-width: 100px;
  }
}

@media (min-width: 361px) and (max-width: 549px) {
  .team .member-icon img {
    max-width: 100px;
  }
}

.team .team-member-details {
  max-width: 350px;
  margin: 0 0.5rem;
}

.team .team-member-info .name {
  font-size: 20px;
}

.team .team-member-info p {
  margin: 0.4rem 0;
}

.team .team-member-info p span {
  font-weight: 700;
}

.team .team-member-socials {
  margin: 0.6rem 0;
}

.team .team-member-socials .twitter-link,
.team .team-member-socials .ig-link {
  margin: 0 0.5rem;
}

.team .team-member-socials .twitter-link:hover img,
.team .team-member-socials .ig-link:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team .team-member-socials .twitter-link img,
.team .team-member-socials .ig-link img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  max-width: 30px;
}

.shows-page h2 {
  font-size: 45px;
  color: #f6b52e;
  text-shadow: -4px -3px 0 #000;
  text-align: center;
  margin: 2rem auto;
}

@media (max-width: 359px) {
  .shows-page h2 {
    font-size: 30px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .shows-page h2 {
    font-size: 35px;
  }
}

.episodes-list p {
  margin: auto;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 359px) {
  .episodes-list p {
    font-size: 15px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .episodes-list p {
    font-size: 17px;
  }
}

footer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-self: flex-end;
  padding: 1rem;
  background-color: #000;
  margin-top: 4rem;
}

footer p {
  color: #fff;
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: #fff;
}
